[submodule "esplora"]
	path = esplora
	url = https://github.com/Blockstream/esplora
[submodule "electors"]
	path = electors
	url = https://github.com/blockstream/electrs
[submodule "ord"]
	path = ord
	url = https://github.com/ordinals/ord
