[submodule "esplora"]
path = esplora
url = https://github.com/Blockstream/esplora
[submodule "electors"]
path = electors
url = https://github.com/blockstream/electrs
[submodule "ord"]
path = ord
url = https://github.com/OLProtocol/ord
[submodule "mole"]
path = mole
url = https://github.com/OLProtocol/mole
[submodule "clash"]
	path = clash
	url = https://github.com/softwarecheng/clash
